target/
!target/*.jar

.idea/
*.iml
.vscode/
.settings/
.project
.classpath

.DS_Store
Thumbs.db

*.log
*.tmp
*.temp

*.db
*.trace.db
*.lock.db

.git/
.gitignore

README.md
*.md

src/test/

Dockerfile*
docker-compose*
.dockerignore 