.booster {
    cursor: pointer;
    border-radius: 10px;
    height: 55vh;
    width: auto;
}

/* affichage des cartes de personnalisation */
.card-container {
    padding: 10px;
    display: flex;
    gap: 10vw;
    z-index: 98;
    height: 46vh;
    flex-direction: row;
    align-items: center;
}

.card-container .card {
    z-index: 98;
    text-decoration: none;
    margin: 10px;
    width: 13vw;
    float: left;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.05);
    background: rebeccapurple;
    border-radius: 20px;
    transition: .15s all ease;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 26vh;
}
.card-container .card:hover {
    transform: scale(1.025);
    transition: .35s all ease;
}
.card-container .card img {
    width: 6vw;
    height: auto;
    padding: 0;
    margin: 0;
    align-self: center;
    margin-top: 20px;
}
.card-container .card .content {
    padding: 15px 20px;
}
.card-container .card h3 {
    text-align: center;
    font-size: 2.5vh;
    color: lavender;
    opacity: 0.9;
    margin-bottom: 20px;
}
.card-container .card p {
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 7px;
}

/* conteneur des cartes obtenues */
.mesCartes {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
    margin-top: 6vh;
}
.maCarte {
    justify-content: center;
}

/* affichage des cartes pokemon*/
.pokemon-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    justify-content: center;
}

.pokemon-card {
    border-radius: 5px;
    width: 30vh;
    height: auto;
}
.grey {
    filter: grayscale(1);
}

.carteCustom {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.attributs {
    width: 34vw;
    overflow: scroll;
    align-self: center;
}
.attributs p {
    font-family: 'Minecraftia', sans-serif;
    font-weight: bold;
}
.attributs p span {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}



