.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    width: 30vw;
}

label {
    margin: 5px 0;
    font-family: 'Minecraftia', sans-serif;
}
select {
    background-color: white;
}
input,
select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid rebeccapurple;
    border-radius: 3px;
}
h1 {
    justify-self: center;
    margin-top: -6vh;
    margin-bottom: 4vh;
}
.back-button {
    width: 53px;
    align-self: flex-start;
    margin-left: 2vw;
    margin-top: 2vh;
    justify-self: flex-start;
}
.top-panel {
    display: grid;
    flex-direction: row;
    width: 96vw;
}
button {
    margin-top: 2vh;
    cursor: pointer;
}

#energy {
    border-radius: 20vw;
    margin-top: 2vw;
}
#modify, #delete {
    align-self: center;
}
#modify button, #delete button {
    width: 7vw;
    height: 5vh;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5vh;
}
#modify button:hover, #delete button:hover {
    opacity: 0.8;
}
#delete button {
    background-color: rebeccapurple;
    color: white;
    border: solid white 2px;
}
#modify button {
    background-color: lavender;
    border: solid black 2px;
}