* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Open Sans", sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-color: lavender;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , rebeccapurple, rgb(238, 149, 234) 10%, lavender 10%);
    background-size: 10px 10px;
}
main {
    margin: 20px auto 20px auto;
    padding: 10px 30px 20px 30px;
    border-radius: 20px;
    background: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 53vh;
}
header,
footer {
    text-align: center;
    background-color: rebeccapurple;
    color: lavender;
    margin: auto;
}
footer {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 30px;
    text-align: center;
    position: relative;
    bottom: 0;
}
header {
    padding:30px 30px 10px 30px;
}
.titre {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 100px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 100px;
    color: rebeccapurple;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.subtitle {
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 2.3em;
    color: rebeccapurple;
    margin-top: -7vh;
}
.promos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajustez la hauteur en fonction de la courbe souhaitée */
    position: relative;
}
.promos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajustez la hauteur en fonction de la courbe souhaitée */
}
.promo {
    position: absolute;
    text-decoration: none;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 23px;
    height: 9vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Minecraftia', sans-serif;
}
.promo:hover {
    background-color: rgba(102, 51, 153, 0.75);
    font-size: 105%;
    animation: ease;
}
.promo:nth-child(1) {
    top: 11vh;
    left: 2vw;
    transform: translateX(-50%);
}
.promo:nth-child(2) {
    top: 28vh;
    left: 14vw;
    transform: translateX(-50%);
}
.promo:nth-child(3) {
    top: 50vh;
    left: 22vw;
    transform: translateX(-50%);
}
#rayquaza {
    width: 40vw;
    margin-top: -21vh;
    margin-left: -16vw;
}
fieldset {
    border:2px solid rebeccapurple;
    background-color: lavender;
    height: 300px;
}

/* navigation */
#liens {
    background-color: rebeccapurple;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    margin: 10px auto 0px auto;
}

#liens a {
    color: lavender;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;  /* texte souligné */
    font-size: 23px;
    margin: auto;
}

#liens a:hover {
    background-color: lavender;
    color: black;
    border-radius: 5px;
}

#fantominus {
    height: 100px;
    width: auto;
}

.back-button {
    width: 53px;
    align-self: flex-start;
    margin-left: 2vw;
    margin-top: 2vh;
}

.fleche{
    padding: 15px;
    border: solid black;
    border-width: 0 5px 5px 0;
    border-radius: 5px;
    display: inline-block;
    transform: rotate(90deg);
    -webkit-transform: rotate(135deg);
}
.error, .success, .warning {
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 1vw;
}
.error {
    background-color: salmon;
    border: solid red 2px;
    color: white;
}
.success {
    background-color: lightgreen;
    border: solid green 2px;
}
.warning {
    background-color: sandybrown;
    border: solid darkorange 2px;
}
.invisible {
    display: none;
}
#copyright a {
    text-decoration: none;
    color: white;
    font-style: italic;
}


