<!DOCTYPE html>
<html lang="FR">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Paukemon</title>
        <!-- ajout de la police-->
        <link href="https://fonts.32tps://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
        <!-- importation des scripts et styles -->
        <!--<script type="module" src="/resources/static/cartes.js" defer></script>-->
        <link rel="stylesheet" href="/resources/static/miseEnPage.css" />
    </head>

    <body>
        <header>
            <div style="display:flex;flex-direction:row; justify-content:center; align-items:center;">
                <div class="titre">Paukem</div>
                <img id="fantominus" src="https://www.pokebip.com/pokedex/images/e_animees/092.gif" alt="Petit fantominus qui se cache">
                <div class="titre">n</div>
            </div>
            <nav id="liens">
                <a href="accueil">Accueil</a>
                <a href="boosters">Boosters</a>
                <a href="mescartes">Mes cartes</a>
                <a href="personnalisation">Personnalisation</a>
                <a href="">Nous contacter</a>
            </nav>
        </header>
        <div w3-include-html="header.html"></div>

        <main style="width: 60%; height: 48vh;">
            <h3> Bienvenue sur le site !</h3>
            <fieldset>
                <p class="pres">Ici, vous pouvez ouvrir des boosters gratuitement!</p>
                <p class="pres">N'hésitez pas à consulter votre collection pour voir les pokemons que vous avez attrapés. </p>
            </fieldset>
        </main>
        <footer style="display:flex; flex-direction:column; align-items:center;">
            <p id="copyright" style="margin:2px; opacity:70%; margin-top:20px; ">coucou</p>
            <p style="margin:2px;opacity:70%;">©2023 Clémentine. Tous droits réservés.</p>
        </footer>
    </body>
</html>