<!DOCTYPE html>
<html lang="FR">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Paukemon</title>
        <!-- ajout de la police-->
        <link href="https://fonts.32tps://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
        <!-- importation des scripts et styles -->
        <link rel="stylesheet" href="/resources/static/miseEnPage.css" />
        <link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
    </head>

    <body>
        <header>
            <div style="display:flex;flex-direction:row; justify-content:center; align-items:center;">
                <div class="titre">Paukem</div>
                <img id="fantominus" src="https://www.pokebip.com/pokedex/images/e_animees/092.gif" alt="Petit fantominus qui se cache">
                <div class="titre">n</div>
            </div>
            <nav id="liens">
                <a href="/accueil">Accueil</a>
                <a href="/boosters">Boosters</a>
                <a href="/mescartes">Mes cartes</a>
                <a href="/personnalisation">Personnalisation</a>
                <a href="">Nous contacter</a>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="subtitle">Attrapez-les tous dans le monde de Paukemon!</div>
                <div class="promos">
                    <a class="promo" href="boosters"><p>Ouvrir des Boosters</p></a>
                    <a class="promo" href="mescartes"><p>Ma Collection</p></a>
                    <a class="promo" href="personnalisation"><p>Personnalisation</p></a>
                </div>
                <img id="rayquaza" src="https://i.pinimg.com/originals/04/72/c4/0472c4edfe4c34c938175c46324c6a28.png">
            </div>
        </main>
        <footer style="display:flex; flex-direction:column; align-items:center;">
            <p id="copyright" style="margin:2px; opacity:70%; margin-top:20px; ">coucou</p>
            <p style="margin:2px;opacity:70%;">©2023 Clémentine. Tous droits réservés.</p>
        </footer>
    </body>
</html>