<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ajout pokemon</title>
		<link href="https://fonts.32tps://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
		<link rel="stylesheet" href="/resources/static/miseEnPage.css" />
	</head>
	<body>
		<header>
			<div style="display:flex;flex-direction:row; justify-content:center; align-items:center;">
				<div class="titre">Paukem</div>
				<img id="fantominus" src="https://www.pokebip.com/pokedex/images/e_animees/092.gif" alt="Petit fantominus qui se cache">
				<div class="titre">n</div>
			</div>
			<nav id="liens">
				<a href="accueil">Accueil</a>
				<a href="boosters">Boosters</a>
				<a href="mescartes">Mes cartes</a>
				<a href="personnalisation">Personnalisation</a>
				<a href="">Nous contacter</a>
			</nav>
		</header>
		<div w3-include-html="header.html"></div>

		<main style="width: 60%;">
			<h1>Ajouter un nouveau pokemon :</h1>
			<form action="/addPokemon" method="POST">
				<label for="nom">Nom :</label>
				<input id="nom" name="nom">
				<label for="type">Type :</label>
				<select id="type" name="type">
					<option th:each="type : ${types}" th:value="${type.nom}">
						<span th:text="${type.nom}"></span>
					</option>
				</select>
				<button type="submit">Ajouter le pokemon</button>
			</form>
		</main>
		<footer style="display:flex; flex-direction:column; align-items:center;">
			<p id="copyright" style="margin:2px; opacity:70%; margin-top:20px; ">coucou</p>
			<p style="margin:2px;opacity:70%;">©2023 Clémentine. Tous droits réservés.</p>
		</footer>
	</body>
</html>
