<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ajout pokemon</title>
		<link href="https://fonts.32tps://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
		<link rel="stylesheet" href="/resources/static/miseEnPage.css" />
		<link rel="stylesheet" href="/resources/static/opening.css" />
		<link rel="stylesheet" href="/resources/static/form.css" />
	</head>
	<body>
		<header>
			<div style="display:flex;flex-direction:row; justify-content:center; align-items:center;">
				<div class="titre">Paukem</div>
				<img id="fantominus" src="https://www.pokebip.com/pokedex/images/e_animees/092.gif" alt="Petit fantominus qui se cache">
				<div class="titre">n</div>
			</div>
			<nav id="liens">
				<a href="/accueil">Accueil</a>
				<a href="/boosters">Boosters</a>
				<a href="/mescartes">Mes cartes</a>
				<a href="/personnalisation">Personnalisation</a>
				<a href="/contact">Nous contacter</a>
			</nav>
		</header>

		<main>
			<h1 style="margin-top: 0">Nous contacter : </h1>

			<form action="/contact" method="POST" class="form">
				<div th:class="${#strings.isEmpty(failMessage)} ? 'invisible' : 'error'">
					<p th:text="${failMessage}"></p>
				</div>
				<div th:class="${#strings.isEmpty(successMessage)} ? 'invisible' : 'success'">
					<p th:text="${successMessage}"></p>
				</div>
				<label for="prenom">Votre prénom :</label>
				<input id="prenom" name="prenom">
				<label for="situation">Qui êtes-vous :</label>
				<select id="situation" name="situation">
					<option>Étudiant</option>
					<option>Professeur</option>
					<option>Autre</option>
				</select>
				<label for="email">Votre adresse e-mail :</label>
				<input id="email" name="email">
				<label for="demande">Objectif de votre demande :</label>
				<select id="demande" name="demande">
					<option>Ajout de séries de cartes/boosters</option>
					<option>Problème technique</option>
					<option>Vous êtes perdu sur le site</option>
					<option>Recommandation, idées d'ajouts</option>
					<option>Un petit mot gentil</option>
					<option>Autre</option>
				</select>
				<label for="contenu">Contenu de votre message :</label>
				<input id="contenu" name="contenu">

				<button type="submit">Envoyer</button>
			</form>

		</main>
		<footer style="display:flex; flex-direction:column; align-items:center;">
			<p id="copyright" style="margin:2px; opacity:70%; margin-top:20px; ">coucou</p>
			<p style="margin:2px;opacity:70%;">©2023 Clémentine. Tous droits réservés.</p>
		</footer>
	</body>
</html>
