<!DOCTYPE html>
<html lang="FR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Paukemon</title>
    <!-- ajout de la police-->
    <link href="https://fonts.32tps://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    <!-- importation des scripts et styles -->
    <script src="" defer></script>
    <link href="" rel="stylesheet" />
</head>

<body>
    <!-- Zoom sur les images -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-img">
        <div id="caption"></div>
    </div>
    <header>
        <div style="display:flex;flex-direction:row; justify-content:center; align-items:center;">
            <div class="titre">~ Pau</div>
            <img id="gif" src="img/givrali.gif" alt="Petit givrali qui danse">
            <div class="titre">kemon ~</div>
        </div>
        <nav id="liens">
            <a href="accueil.html">Accueil</a>
            <a href="addPokemon.html">Pokemon</a>
            <a href="addType.html">Type</a>
        </nav>
    </header>

<script> //pour les images modales
    var images = document.getElementsByClassName('imgZOOM');
    //récupérer l'image modale et ses composants
    var modal = document.getElementById('myModal');
    var modalImg = document.getElementById("modal-img");
    var captionText = document.getElementById("caption");

    // on définit toutes les images
    for (var i = 0; i < images.length; i++) {
        var img = images[i];
        // on définit le clic sur l'image
        img.onclick = function() {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;

            //gestion de la fermeture
            var croix = document.getElementsByClassName("close");
            if (croix.length > 0) { // Vérifier si au moins un élément avec la classe "close" existe
                croix[0].onclick = function() { // Accéder au premier élément de la liste
                    modal.style.display = "none";
                }
            }
        }
    }
</script>

<style>
    .titre {
        font-family: 'Pokemon Solid', sans-serif;
    }
</style>