<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Boosters opening</title>
        <link href="https://fonts.32tps://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
        <link rel="stylesheet" href="/resources/static/miseEnPage.css" />
        <link rel="stylesheet" href="/resources/static/cartes.css" />
        <link rel="stylesheet" href="/resources/static/opening.css" />
    </head>
    <body>
        <header>
            <div style="display:flex;flex-direction:row; justify-content:center; align-items:center;">
                <div class="titre">Paukem</div>
                <img id="fantominus" src="https://www.pokebip.com/pokedex/images/e_animees/092.gif" alt="Petit fantominus qui se cache">
                <div class="titre">n</div>
            </div>
            <nav id="liens">
                <a href="/accueil">Accueil</a>
                <a href="/boosters">Boosters</a>
                <a href="/mescartes">Mes cartes</a>
                <a href="/personnalisation">Personnalisation</a>
                <a href="">Nous contacter</a>
            </nav>
        </header>

        <main>
            <div class="top-panel">
                <div class="back-button">
                    <a href="boosters" class="fleche"></a>
                </div>
                <button class="centrer" onclick="scrollToAltitude()" style="align-self: center; margin-left: 36vw;">Centrer les cartes</button>
            </div>
            <a id="opening-section"></a>
            <h1 style="margin-bottom: 2vh;">Clique sur les cartes pour les retourner !</h1>

            <div class="opening">
                <a href="openingBW">
                    <img class="booster" style="margin-left: 5vw;" src="/resources/static/bw_booster.jpg"/>
                </a>
                <div class="card-opening">
                    <div class="common-cards">
                        <div class="card" id="commune1">
                            <img src="/resources/static/card_back.png" alt="Dos de carte" />
                            <img th:src="${commune1.getImages()}" th:alt="${commune1.getName()}" />
                        </div>
                        <div class="card" id="commune2">
                            <img src="/resources/static/card_back.png" alt="Dos de carte" />
                            <img th:src="${commune2.getImages()}" th:alt="${commune2.getName()}" />
                        </div>
                        <div class="card" id="commune3">
                            <img src="/resources/static/card_back.png" alt="Dos de carte" />
                            <img th:src="${commune3.getImages()}" th:alt="${commune3.getName()}" />
                        </div>
                        <div class="card" id="commune4">
                            <img src="/resources/static/card_back.png" alt="Dos de carte" />
                            <img th:src="${commune4.getImages()}" th:alt="${commune4.getName()}" />
                        </div>
                    </div>
                    <div class="right-panel">
                        <div class="rare-card">
                            <div class="card" id="rare">
                                <img src="/resources/static/card_back.png" alt="Dos de carte" />
                                <img th:src="${rare.getImages()}" th:alt="${rare.getName()}" />
                            </div>
                        </div>
                        <button class="ouvrirEncore" onclick="refreshAndScrollToAltitude()" style="align-self: center;">Ouvrir un autre booster !</button>
                    </div>
                </div>
            </div>

        </main>


        <footer style="display:flex; flex-direction:column; align-items:center;">
            <p id="copyright" style="margin:2px; opacity:70%; margin-top:20px; ">coucou</p>
            <p style="margin:2px;opacity:70%;">©2023 Clémentine. Tous droits réservés.</p>
        </footer>
    </body>
</html>


<script>
    const cards = document.querySelectorAll('.card');
    cards.forEach(card => {
        card.addEventListener('click', async () => {
            card.classList.add('flipped');
            let cardId = card.id;

            if (cardId === "rare") {
                await new Promise(r => setTimeout(r, 400));
                card.classList.add('glow');
                card.classList.add('paillette');
            }
            card.removeEventListener('click', () => {
            });
        });
    });
    function scrollToAltitude() {
        const target = document.querySelector('#opening-section');
        if (target) {
            target.scrollIntoView({ behavior: 'smooth' });
        }
    }
    function refreshAndScrollToAltitude() {
        location.reload();
        const target = document.querySelector('#opening-section');
        if (target) {
            target.scrollIntoView();
        }
    }
</script>
